body {
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-kerning: none;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: #000000;	
}

.content-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
	box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 0px;
	height: 0px;
	margin: -1px;
	overflow: hidden;
}

.page-header {
	position: relative;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 138px;
	height: 70px;
}

.main-nav {
	padding: 0 72px;
	background-color: #ffffff;
}

.main-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 10px;
	min-height: 56px;
	list-style: none;
}

.nav-item {
	flex-basis: 240px;
	flex-grow: 0;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.nav-item:nth-child(2) {
	margin-right: auto;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.nav-item a {
	color: inherit;
	transition-duration: 0.3s;
}

.nav-item a:hover,
.nav-item a:focus {
	color: #81b3d2;
}

.nav-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.nav-item a:not([href]) {
	color: #766357;
}

.intro {
	min-height: 432px;
	padding-top: 76px;
	margin-bottom: 60px;
	text-align: center;
	background-color: #9aa2a9;
	background-image: url(../img/mask.png), url(../img/background_photo.jpg);
	background-position: center bottom, center -56px;
	background-repeat: no-repeat;
}

.intro {
}


.advantages {
	margin: 0;
	margin-bottom: 50px;
}

.advantages-title {
	margin: 0;
	margin-bottom: 27px;
	padding: 0 350px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.advantages-subtitle {
	margin: 0;
	margin-bottom: 52px;
	text-align: center;
	line-height: 26px;
}

.advantages-container {
	display: flex;
	flex-wrap: wrap;
}

.advantage {
	box-sizing: border-box;
	flex-basis: 400px;
	min-height: 256px;
	padding: 46px 0px 0px;
	text-align: center;
	background-color: #eeeeee;
}

.with-photo {
	flex-basis: 1200px;
	color: #ffffff;
	background-size: 800px auto;
	background-repeat: no-repeat;
	background-color: #81b3d2;
}

.real-town {
	padding-right: 800px;
	background-image: url("../img/real_town.jpg");
	background-position: center right;
}

.devils-bridge {
	padding-left: 800px;
	background-image: url("../img/devils_bridge.jpg");
	background-position: center left;
}

.advantage-title {
	display: block;
	padding: 0 120px;
	font-size: 21px;
	line-height: 21px;
}

.advantage-text {	
	margin-top: 22px;
	padding: 0 48px;
	font-size: 14px;
	line-height: 21px;
}

.town-features {	
	display: flex;
	justify-content: space-between;
	flex-basis: 1200px;
	min-height: 330px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.town-feature {
	position: relative;
	flex-basis: 400px;
	margin: 0;
	padding: 0;
	padding-top: 161px;
	text-align: center;
}

.town-feature::before {
	content: "";
	position: absolute;
	top: 52px;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translateX(-50%);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.house-icon.town-feature::before {
	background-image: url(../img/svg/icon-1.svg);
}

.meal-icon.town-feature::before {
	background-image: url(../img/svg/icon-3.svg);
}

.souvenir-icon.town-feature::before {
	background-image: url(../img/svg/icon-2.svg);

}

.town-feature.advantage-text {
	margin-top: 23px;
}

.hotel-offering-search {
	text-align: center;
}

.hotel-search-caption {	
	margin-bottom: 23px;
	font-size: 30px;
	line-height: 36px;
}

.hotel-search-text {	
	padding: 0 380px;
	margin-bottom: 47px;
	font-size: 14px;
	line-height: 24px;
}

.hotel-search-button {
	display: block;
	width: 507px;
	margin: 0 auto;
	padding: 30px 30px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	transition-duration: 0.3s;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
	background-color: #604e43;
}

.hotel-search-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

/*----------form----------*/
.map {
	position: relative;
	width: 1200px;
	height: 593px;
	overflow: hidden;
}

.offering-form-container {
	position: absolute;
	width: 567px;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.2);
	/*overflow: hidden;*/
}

.offering-search-form {
	/*width: 100%;*/
	padding: 55px 55px 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	background-color: #ffffff;

}

.offering-form-invisible {
	transform: translate(-50%, -110%);
	transition-duration: 0.3s;
}

.offering-form-visible {
	transform: translate(-50%, 0);
}

.offering-search-form .arrival,
.offering-search-form .departure,
.offering-search-form .numbers {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0;
	margin-bottom: 29px;
}

.offering-search-form .numbers {
	justify-content: left;
	margin-bottom: 53px
}

.offering-search-form label {
	flex-basis: 113px;
	flex-shrink: 0;
}

.offering-search-form input {
	box-sizing: border-box; 
	height: 38px;
	padding-left: 11px;
	font: inherit;
	text-transform: inherit;
	background-color: transparent;
	border: 2px solid transparent;
	transition-duration: 0.3s;
}

.offering-search-form input:hover {
	background-color: #ebebeb;
}

.offering-search-form input:focus {
	border: 2px solid #e5e5e5;
}

.date-field {
	flex-grow: 1;
}

.calendar-icon-btn {
	display: block;
	width: 35px;
	height: 100%;
	padding: 1px;
	background-color: transparent;
	border: none;
}

.calendar-icon-btn svg path {
	fill: #cacaca;
	transition-duration: 0.3s;
}

.calendar-icon-btn:hover svg path,
.calendar-icon-btn:focus svg path {
	fill: #000000;
}

.calendar-icon-btn:active svg path {
	fill: #81b3d2;
}

.numbers label:last-of-type {
	flex-basis: 65px;
	margin-left: auto;
}

.number-field-container {
	display: flex;
	justify-content: left;
	align-items: baseline;
}

.offering-search-form input.number-field {
	padding: 0;
	text-align: center;
	width: 35px;
}

.plus-minus-button {
	padding: 12px 14px;
	background-color: transparent;
	border: none;
	transition-duration: 0.3s;
}

.plus-minus-button line {
	transition-duration: 0.3s;
}

.plus-minus-button:hover line,
.plus-minus-button:focus line {
	stroke: #000000;
}

.plus-minus-button:active line {
	stroke: #81b3d2;
}

.find-button {
	width: 100%;
	margin-top: 0;
	margin-bottom: 55px;
	padding: 16px 0;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	text-transform: inherit;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	transition-duration: 0.3s;
}

.find-button:hover,
.find-button:focus {
	background-color: #669ec0;
}

.find-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

/*-----------footer----------*/

.page-footer {
	width: 1200px;
	display: flex;
	align-items: center;
	height: 10px;
	min-height: 120px;
	background-color: #ffffff;
}

.index-footer {
	position: absolute;
	transform: translateY(-100%);
	opacity: 0.9;
}

.footer-hashtag {
	flex-basis: 400px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.footer-social {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 400px;
	padding: 0;
	list-style: none;
}

.footer-social-button {
	margin-right: 6px;
}

.footer-social-button a {
	display: block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	transition-duration: 0.3s;
}

.footer-social-button a::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	transition-duration: 0.3s;
}

.twitter a::before {
	background-image: url(../img/svg/twitter.svg);
}

.facebook a::before {
	background-image: url(../img/svg/fb-icon.svg);
}

.youtube a::before {
	background-image: url(../img/svg/youtube.svg);
}

.footer-social-button:last-child {
	margin-right: 0;
}

.footer-social-button a:hover,
.footer-social-button a:focus {
	background-color: #669ec0;
}

.footer-social-button a:active {
	background-color: #5496bd;
}

.footer-social-button a:active::before {
	opacity: 0.3;
}

.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 400px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

.footer-copyright a {
	margin-left: 6px;
	width: 115px;
	height: 39px;
	fill: #231f20;
}
.footer-copyright svg {
	transition-duration: 0.3s;
}

.footer-copyright svg:hover,
.footer-copyright svg:focus {
	fill: #81b3d2;
}

.footer-copyright svg:active {
	fill: #bdbbbc;
}

/*----------hotels----------*/

.hotel-search-container {
}

.hotel-search-form {
	display: flex;
	padding: 27px 71px 0;
	min-height: 190px;
	color: #ffffff;
	background-color: #9aa2a9;
	background-image: url("../img/filter_background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

.checkbox-field, 
.daily-price-field {
	margin: 0;
	padding: 0;
	border: none;
}

.checkbox-field {
	flex-basis: 256px;
	/*padding-left: 2px;*/
}

.daily-price-field {
	flex-basis: 330px;
	margin-left: auto;
}

.hotel-search-form legend {
	margin-bottom: 22px;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.daily-price-field legend {
	padding-left: 12px;
	margin-bottom: 10px;
}

.hotel-search-form label {
	font-size: 14px;
	line-height: 21px;
}

.hotel-search-form input {
	font: inherit;
	text-transform: inherit;
	color: inherit;
	background-color: transparent;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	margin-left: -4px;
}

.daily-price-container {
	padding-left: 11px;
}

.hotel-search-form input[type="checkbox"] {
	opacity: 0;
}

.checkbox-row {
	margin-left: -16px;
	margin-bottom: 21px;
}

.checkbox-row:last-child {
	margin-bottom: 0;
}

.checkbox-field label {
	display: inline-block;
	position: relative;
	padding: 2px;
	padding-left: 47px;
}

.checkbox-field label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 4px;	
	width: 27px;
	height: 23px;
	transform: translateY(-50%);
	background-image: url(../img/svg/checkbox-off.svg);
	background-position: left center;
	background-repeat: no-repeat;
}

.checkbox-field input[type="checkbox"]:checked + label::before {
	background-image: url(../img/svg/checkbox-on.svg);
}

.checkbox-field input[type="checkbox"]:focus + label::before {
	outline: #000000 dotted 1px;
	outline: 5px auto -webkit-focus-ring-color;
}

.checkbox-field input[type="checkbox"]:disabled + label::before {
	opacity: 0.3;
}

.price-controls {
	display: flex;
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls label {
	text-align: right;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .from,
.price-controls .to {
	display: flex;
	justify-content: flex-start;
	flex-basis: 50%;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.min-price {
	padding-left: 65px;
}

.max-price {
	padding-left: 53px;
}

.price-controls input {
	display: inline-block;
	width: 50px;
	margin: 0;
	padding-left: 5px;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	transition-duration: 0.3s;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.show-button {
	display: block;
	margin: 0 auto;
	padding: 5px 34px;
	font-size: 14px;
	line-height: 21px;
	text-transform: inherit;
	color: #ffffff;
	text-transform: inherit;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	transition-duration: 0.3s;
}

.show-button:hover,
.show-button:focus {
	color: #000000;
	background-color: #ffffff;
}

/*----------Search results----------*/

.search-sort {
	display: flex;
	align-items: baseline;
	min-height: 63px;
	padding: 23px 71px 0;
}

.search-quantity {
	flex-basis: 165px;
	margin: 0;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.sorting-options-title {
	flex-basis: 117px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
}

.sorting-options {
	display: flex;
	align-items: baseline;
	margin: 0;
	padding: 0;
	flex-grow: 1;
	font-size: 12px;
	line-height: 18px;
	list-style: none;
}
.sorting-option {
	flex-basis: 83px;
}

.sorting-option a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
	transition-duration: 0.3s;
}

.sorting-option a:hover,
.sorting-option a:focus {
	color: #81b3d2;
}

.sorting-option a:active {
	color: #000000;
	border: none;
}

.sorting-option a:not([href]) {
	pointer-events: none;
	cursor: default;
	color: #81b3d2;
	border: none;
}

.arrow {
	display: inline-block;
	margin-left: 9px;
}

.arrow path {
	fill: #cacaca;
	transition-duration: 0.3s;
}

.arrow:not([href]) {
	pointer-events: none;
}

.arrow:not([href]) path {
	fill: #81b3d2;
}

.arrow:hover path,
.arrow:focus path {
	fill: #000000;
}

.arrow:active path {
	fill: #81b3d2;
}

/*----------hotel-cards----------*/

.search-result-items {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.hotel-card {
	display: flex;
	flex-basis: 100%;
	padding: 30px 72px;
	border-top: 1px solid #e5e5e5;
}

.hotel-card:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
	height: 90px;
	margin: 0;
	padding: 0;
	margin-right: 30px;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.hotel-rating p {
	margin-left: auto;
}

.hotel-card-name {
	margin-top: -5px;
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.hotel-card-name a {
	transition-duration: 0.3s;
}

.hotel-card-name a:hover,
.hotel-card-name a:focus {
	color: #81b3d2;
}

.hotel-card-name a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-card-type,
.hotel-card-price {
	display: inline-block;
	margin: 0;
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 21px;
}

.hotel-card-type {
	width: 110px;
}

.search-result-items {
	list-style: none;
}

.hotel-card-buttons {
	margin: 0;
}

.hotel-card-button {
	display: inline-block;
	margin-right: 2px;
	padding: 3px 17px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
	transition-duration: 0.3s;
}

.hotel-card-button:hover,
.hotel-card-button:focus {
	background-color: #669ec0;
}

.hotel-card-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-card-button:last-of-type {
	margin-right: 0;
	background-color: #766357;
}

.hotel-card-button:last-of-type:hover,
.hotel-card-button:last-of-type:focus {
	background-color: #604e43;
}

.hotel-card-button:last-of-type:active {
	background-color: #503e33;
}

.hotel-card-rating {
	margin-top: auto;
	margin-bottom: 0;
	padding: 3px 12px;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
}

.stars {
	margin: 0;
	height: 17px;
	background-image: url(../img/svg/star.svg);
	background-repeat: space;
}

.one-star {
	width: 16px;
}

.two-star {
	width: 41px;
}

.three-star {
	width: 65px;
}

.four-star {
	width: 88px;
}

.five-star {
	width: 107px;
}




